footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251, 159, 34, 0.8);
    z-index: 1500;

    padding: 20px;

    .footer-left {
        display: flex;
        width: 30rem;

        p {
            font-family: Roboto;
            font-size: 1rem;
            font-style: normal;
            font-weight: 900;
            margin-top: 1em;
        }
    }


    .footer-right {
        ul {
            margin-top: 1em;
            list-style: none;
            font-size: 1rem;
            font-style: normal;
            font-weight: 900;
            display: flex;
            gap: 20px;

            .linkFooter {
                text-decoration: none;

                li {
                    width: 100%;
                    color: #212121;
                    font-size: 1em;
                    font-weight: 700;
                }

            }
        }
    }

}