.Segmento-2 {
    background-image: url(../Images/Segmento2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: calc(100vh + 100vh);
}