@use 'NavBar';
@use 'Login';
@use 'Segmento1';
@use 'Segmento2';
@use 'Segmento3';
@use 'Segmento4';
@use 'Segmento5';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto,'Noto Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF;
    overflow-x: hidden;
}